<!DOCTYPE html>
<html>

<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
   </script>
   
  <title> Home </title>


</head>	
<body ng-app="mainApp"> 


<script src="home.js"></script>

<h2> Books </h2>

<!-- <input type="checkbox" ng-model="hideShow" ng-init="hideShow = false"></input> -->
<!-- <input type = "button" value = "Add Book"ng-click="addBook()"> </input>
 --> 
<!--  <input type="button" value="Add Book" onclick="addBook()"> </input>     
 -->
 <div ng-app = "mainApp" ng-controller = "bookController">
         Enter book name: <input type = "text" ng-model = "book.name"><br>
         Enter book category: <input type = "text" ng-model = "book.category"><br>
         Enter book price: <input type = "text" ng-model = "book.price"><br>
         Enter book author: <input type = "text" ng-model = "book.author"><br>
         
         <!-- Adding New Book.. {{book.addBook()}} -->
         <!-- delete book .. {{book.deleteBook()}} --> 
 
 <input type = "button" value = "Add Book"ng-click="book.addBook()"> </input>
 <br> <br>
 <input type = "button" value = "Delete Book"ng-click="book.deleteBook()"> </input>

</div>

 <script>
// var mainApp = angular.module("mainApp", []);

// mainApp.controller("bookController", function($scope) {
//    $scope.book = {
//       name: "",
//       category: "",
//       price:"",
//       author: "",
      
//       bookDetails: function() {
//          var bookObject;
//          bookObject = $scope.book;
//          return "Book Name: " + bookObject.name + " " + "Book category: " + bookObject.category + 
//          " " + "Book price: " + bookObject.price + " " + "Book Author: "+ bookObject.author;
//       },

//       addBook: function() {
//       console.log("Here's addBook Function");
//       $scope.div = document.createElement("div");
//       $scope.div.id = "book1";
//       $scope.div.class = "book_product";
      
//       //<div id="book1_name" class="name"> </div>
//       $scope.name = document.createElement("div");
//       $scope.name.id = "book1_name";
//       $scope.name.class= "name";
//       // $scope.name.data="twilight";
//       $scope.name.data = $scope.book.name;
//       $scope.div.append($scope.name);
      
//       console.log($scope.name);
      
//       //<div id="book1_category" class="name"> </div>
//       $scope.category = document.createElement("div");
//       $scope.category.id = "book1_category";
//       $scope.category.class= "category";
//       // $scope.category.data="Movies";
//       $scope.category.data=$scope.book.category;
//       $scope.div.append($scope.category);
      
//       console.log("book1 category = " + $scope.category.data);
//       //<div id="book1_price" class="price"> </div>
//       $scope.price = document.createElement("div");
//       $scope.price.id = "book1_price";
//       $scope.price.class= "price";
//       // $scope.price.data=38;
//       $scope.price.data=$scope.book.price;
//       $scope.div.append($scope.price);
      
//       console.log("book1 price = " + $scope.price.data);
      
//       //<div id="book1_author" class="author"> </div>
//       $scope.author = document.createElement("div");
//       $scope.author.id = "book1_author";
//       $scope.author.class= "author";
//       // $scope.author.data="mr.book1 author";
//       $scope.author.data=$scope.book.author;
//       $scope.div.append($scope.author);    
      
//       console.log("book1 author = " + $scope.author.data);  
      
//       //adding the most outer Div to document body.
//       angular.element(document.getElementsByTagName('body')).append($scope.div);
//       },
//       deleteBook: function(){
//       var book = angular.element(document.querySelector('#book1'));
//       book.remove();
//       },
//       getBook: function(){
//       var book = angular.element(document.querySelector('#book1'));
//       }
//    };
// });
</script>

</body>
</html>