<!DOCTYPE html>
<html>

<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
   </script>
  <title> New Page </title>
<style>
body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

</style>

</head>	
<body ng-app="mainApp"> <!-- if we remove ng-app the add book button [show/hide] will has no effect --> 
 <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#" onclick = "create_content()"> Create Content </a>  
  <a href="#" onclick = "append_book()"> Add Book </a>
  <a href="#" onclick = "append_album()"> Add Album </a>
  <a href="#" onclick = "show_all()"> Show All </a>
  <a href="#" onclick = "delete_content()">Delete content </a>
  
  </div>

   <div style="padding-left:16px">
   </div>
<h2> Books </h2>

<!-- <input type="checkbox" ng-model="hideShow" ng-init="hideShow = false"></input> -->
<input type = "button" value = "Add Book"ng-click="hideShow=(hideShow ? false : true)"> </input>
 <div ng-app = "mainApp" ng-controller = "bookController" ng-if="hideShow">
         Enter book name: <input type = "text" ng-model = "book.name"><br>
         Enter book category: <input type = "text" ng-model = "book.category"><br>
         Enter book price: <input type = "text" ng-model = "book.price"><br>
         Enter book author: <input type = "text" ng-model = "book.author"><br>
         
         
         You are entering book: {{book.bookDetails()}}
 </div>
      
<script>
         var mainApp = angular.module("mainApp", []);
         
         mainApp.controller('bookController', function($scope) {
            $scope.book = {
               name: "",
               category: "",
               price:"",
               author: "",

               
               bookDetails: function() {
                  var bookObject;
                  bookObject = $scope.book;
                  return "Book name: " + bookObject.name +  '\n' + "Book category: " + bookObject.category + "  \n" + "Book price: " + bookObject.price + "  \n" + "Book Author: " + bookObject.author;
               }

            };
         });
</script>

<h2> Albums </h2>
<input type = "button" value = "Add Album"ng-click="hideShow2=(hideShow2 ? false : true)"> </input>
 <div ng-app = "mainApp" ng-controller = "albumController" ng-if="hideShow2">
         Enter Album name: <input type = "text" ng-model = "album.name"><br>
         Enter Album category: <input type = "text" ng-model = "album.category"><br>
         Enter Album price: <input type = "text" ng-model = "album.price"><br>
         Enter Album singer: <input type = "text" ng-model = "album.singer"><br>
         
         
         You are entering Album: {{album.albumDetails()}}
 </div>
      
<script>
         //no need to declare this again ;)
         //var mainApp = angular.module("mainApp", []);
         
         mainApp.controller('albumController', function($scope) {
            $scope.album = {
               name: "",
               category: "",
               price:"",
               singer: "",

               albumDetails: function() {
                  var albumObject;
                  albumObject = $scope.album;
                  return "Album name: " + albumObject.name +  '\n' + "album category: " + albumObject.category + "\n" + "Book price: " + albumObject.price + "\n" + "Album Singer: " + albumObject.singer;
               }
            };
         });
</script>

</body>
</html>